﻿@model DemoBuikAlp1.Models.ProjectModel

@{
    ViewBag.Title = "GetIssueImage";
}

<h2>GetIssueImage</h2>
<div style="float:left;margin-right:20px">
<img width="75" height="75" src="@Url.Action("GetIssueImage", "PhotoRez",
new { issueid = 10000464 })" />
