﻿@{
    Layout = null;
    var action = ViewContext.RouteData.Values["action"].ToString();
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Builk</title>
    <meta name="description" content="Builk Style Guide">
    <meta name="author" content="Teeragit Hare">
    <meta name="viewport" content="width=960">
    @Styles.Render("~/Content/css")
</head>
<body>

    <header>
        <div class="container">
            <h1><a href="@Url.Action("Index", "Home")">
                <img src="~/Images/logo.png" alt="Builk" /></a></h1>
            @if (action == "LogIn")
            {
                <h2>
                    <a href="#" id="app"><span class="app">Log in</span></a>
                </h2>
            }
            else if (action == "Register")
            {
                <h2>
                    <a href="#" id="app"><span class="app">Sign up</span></a>
                </h2>
            }
            else
            {
                <h2>
                    <a href="#" id="app"><span class="app">Builk SiteWalk</span><i class="icon-caret-down"></i></a>
                    <nav id="apps">
                        <ul>
                            <li><a href="#">CostControl</a></li>
                            <li><a href="#">CompanyProfile</a></li>
                            <li><a href="#">SiteManager</a></li>
                            <li><a href="#">PaymentTrack</a></li>
                            <li><a href="#">BuilkUP</a></li>
                            <li><a href="#">GameCenter</a></li>
                        </ul>
                    </nav>
                </h2>
                <h3>
                    <a href="#" id="account"><span class="account corporate"><span class="name">Patai Padungtin</span><span class="company">Lormoon Co., Ltd.</span></span><span class="notifications">11</span><img src="~/Images/companyLogo1.png" alt="Company Logo" /><img src="~/Images/profilePicture.png" alt="Profile Picture" /><i class="icon-caret-down"></i></a>
                    <div id="accounts">
                        <ul>
                            <li class="account"><a href="#"><span class="name">Patai Padungtin</span><img src="~/Images/profilePicture.png" alt="Profile Picture" /><span class="notifications">11</span></a></li>
                            <li class="account"><a href="#" class="active"><span class="company">Lormoon Co., Ltd.</span><img src="~/Images/companyLogo1.png" alt="Company Logo" /></a></li>
                            <li class="account"><a href="#"><span class="company">InterBuilk Demo</span><img src="~/Images/companyLogo2.png" alt="Company Logo" /></a></li>
                            <li class="option"><a href="#"><span class="add">Add a Company</span><i class="icon-plus"></i></a></li>
                            <li class="option"><a href="#">Settings</a></li>
                            <li class="option"><a href="#">Sign Out</a></li>
                        </ul>
                    </div>
                </h3>
            }
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p></p>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        //<![CDATA[
        window.__CF = window.__CF || {}; window.__CF.AJS = { "ga_key": { "ua": "UA-2318928-1", "ga_bs": "2" } };
        //]]>
    </script>
    <script type="text/javascript">
        //<![CDATA[
        try { if (!window.CloudFlare) { var CloudFlare = [{ verbose: 0, p: 0, byc: 0, owlid: "cf", mirage: { responsive: 0, lazy: 0 }, mirage2: 0, oracle: 0, paths: { cloudflare: "/cdn-cgi/nexp/abv=2706741234/" }, atok: "3243e1e72c56beb4aa9dbad6a66b0194", zone: "teeragit.com", rocket: "0", apps: { "ga_key": { "ua": "UA-2318928-1", "ga_bs": "2" } } }]; var a = document.createElement("script"), b = document.getElementsByTagName("script")[0]; a.async = !0; a.src = "//ajax.cloudflare.com/cdn-cgi/nexp/abv=3609848800/cloudflare.min.js"; b.parentNode.insertBefore(a, b); } } catch (e) { };
        //]]>
    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2318928-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        (function (b) { (function (a) { "__CF" in b && "DJS" in b.__CF ? b.__CF.DJS.push(a) : "addEventListener" in b ? b.addEventListener("load", a, !1) : b.attachEvent("onload", a) })(function () { "FB" in b && "Event" in FB && "subscribe" in FB.Event && (FB.Event.subscribe("edge.create", function (a) { _gaq.push(["_trackSocial", "facebook", "like", a]) }), FB.Event.subscribe("edge.remove", function (a) { _gaq.push(["_trackSocial", "facebook", "unlike", a]) }), FB.Event.subscribe("message.send", function (a) { _gaq.push(["_trackSocial", "facebook", "send", a]) })); "twttr" in b && "events" in twttr && "bind" in twttr.events && twttr.events.bind("tweet", function (a) { if (a) { var b; if (a.target && a.target.nodeName == "IFRAME") a: { if (a = a.target.src) { a = a.split("#")[0].match(/[^?=&]+=([^&]*)?/g); b = 0; for (var c; c = a[b]; ++b) if (c.indexOf("url") === 0) { b = unescape(c.split("=")[1]); break a } } b = void 0 } _gaq.push(["_trackSocial", "twitter", "tweet", b]) } }) }) })(window);
        /* ]]> */
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
