﻿@model DemoBuikAlp1.Models.ProjectModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create Project</h2>
<p></p>
@using (Html.BeginForm())
{
    <h4>Project Information</h4>
    <p></p>
    <fieldset>
        <legend>Project Information</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.ProjectName)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(m => m.ProjectName)
            @Html.TextBoxFor(m => m.ProjectName, new { @class = "textbox", @placeholder = "Project Name" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.CustomerName)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(m => m.CustomerName)
            @Html.TextBoxFor(m => m.CustomerName, new { @class = "textbox", @placeholder = "Customer Name" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ProjectType)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(m => m.ProjectType)
            @Html.DropDownListFor(m => m.ProjectType, new List<SelectListItem>(ViewBag.ProjectTypes))
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Country)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(m => m.Country)
            @Html.DropDownListFor(m => m.Country, new List<SelectListItem>())
        </div>
    </fieldset>
    <h4>Project Duration</h4>
    <p></p>
    <fieldset>
        <legend>Project Duration</legend>
        <div class="editor-label">
            @Html.LabelFor(m => m.StartDate)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(m => m.StartDate)
            @Html.TextBoxFor(m => m.StartDate, "{0:d}", new { @class = "datefield", type = "date" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.EndDate)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(m => m.EndDate)
            @Html.TextBoxFor(m => m.EndDate, "{0:d}", new { @class = "datefield", type = "date" })
        </div>
    </fieldset>
}