﻿@model BuikSiteWalkModel1.ModelEntities.ProjectDetailMobile


		
       <div class="row">
			<div class="col-md-12" >
						
						
					<!-- wrapper div -->
					<div class='wrapper box'>
						<!-- image -->
                        
                        <a href="Timeline?prid=@Model.prid">
                      
						
							<img src="@Url.Content(Model.ProjectCoverPhoto)" class="img-responsive ratio" alt="Responsive image">
							<!-- description div -->
							<div class='description'>
								<!-- description content -->
								<h3 class='description_content'>@Model.ProjectName with @Model.DayRemain days to go</h3>
								<!-- end description content -->
							</div>
                        
					
						<!-- end description div -->
                        </a>
					</div>
					<!-- end wrapper div -->

							


					
				
			</div>
	</div>



