﻿@model DemoBuikAlp1.Models.FloorPlanPhotoModel

@{
    ViewBag.Title = "AddProjectFloorPlan";
    Layout = "~/Views/Shared/_LayoutDemo1.cshtml";
}



<br />
<center><h2>Floor Plan Management for @ViewBag.Projectname </h2></center>

<div class="container dashboard">

	
    <div class="floorplan-template">
    <div class="row">
	        <div class="col-md-12" >

                 @using (Html.BeginForm("AddProjectFloorPlan", "SiteWalk", FormMethod.Post, new { @enctype = "multipart/form-data" , @class = "form-inline",} ))
                 {
                      <div class="form-group">@Html.TextBoxFor(model => model.prid, new { @Value = @ViewBag.Prid, @type = "hidden" })</div>
                      <div class="form-group"> @Html.TextBoxFor(model => model.name, new { @class = "textbox", @placeholder = "Floor Plan Name" }) </div>
                    
                          <div class="form-group"> <input type="file" id="image33" name="image33" accept="image/*" /> </div>
     
                            <div class="form-group"> <input type="submit" value="Add Floor Plan" title="Add Floor Plan"/> </div>
                 }
        
	           

	        </div>
        </div>
    </div>

@foreach (var r in Model.photolist)
{

			<div class="col-md-3" >
						
						
					<!-- wrapper div -->
					<div class='wrapper floorplan-box'>
						<!-- image -->
						
                      
						<a href="/SiteWalk/Timeline?prid=@ViewBag.Prid">
							<img src="@r.msg" class="floorplan-photo" alt="Responsive image">
							<!-- description div -->
							<div class='description'>
								<!-- description content -->
								<p>@r.det</p>
								<!-- end description content -->
							</div>
                        </a>
					
						<!-- end description div -->
					</div>
					<!-- end wrapper div -->

            </div>
}

 </div>
</div>
