﻿@model DemoBuikAlp1.Models.CollaborationEntity

@{
    ViewBag.Title = "Collaboration";
    Layout = "~/Views/Shared/_LayoutDemo1.cshtml";
}


<div class="container">

        <div class="gap"></div>
     <div class="gap"></div>
     
            <div class="col-md-12">
            <a class="btn btn-default" href="javascript:history.back()">Back to Project Setting</a>
        
        </div>

      <div class="starter-template">

      

       <div class="row">
        <div class="col-md-4">

        <h3 align="left"><i class="fa fa-briefcase fa-lg"></i> Project Owner </h3>
         
              @foreach (var r in Model.prcollist.Where(p => p.memberstatus == "Creator"))
           { 
                  
             
                <div class="collaboration-user">
                    <p class="text-in-owner"><img src="~/Images/userAccepted.png" /> <h>@r.username </h></p>
                </div>
           }
            

          <br>
          <div class="lightgray-box">
            
             <p class="big-text" align="center" ><b>@Model.prcollist.Count(p => p.invitestatus == "Accepted")</b></p><p align="center" class="medium-text">active user(s) </p>
             <p align="center"><b>@Model.prcollist.Count(p => p.invitestatus == "Pending")</b>  user(s) pending to join</p>

          </div>
        
        </div>
        <div class="col-md-1"><div class="separator"></div></div>



        <div class="col-md-6">
           
          
       @using (Html.BeginForm("Collaboration", "SiteWalk", FormMethod.Post, new { enctype = "multipart/form-data", @class = "navbar-form", @role = "search" }))
          {
               <h3 align="left"><i class="fa fa-search fa-lg"></i> Email address</h3>
               <div class="input-group">

            <input type="text" class="form-control" placeholder="Search for new collaborator" name="searchkey" id="searchkey" required>
                   <input type="hidden" name="prid" id="prid" value="@ViewBag.prid" />
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" data-target="Collaboration?prid=@Request.QueryString["prid"]" ><i class="fa fa-search fa-lg"></i></button>
                
            </div>
           
        </div>
          }


     <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    Sorry, Your buddy's not found.</h4>
            </div>
            <div class="modal-body">
           
                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel</button>
                <button type="button" class="btn btn-primary">
                    Invite</button>
            </div>
        </div>

          

        
          


        </div>


      </div>



     @if (Model.searchlist.Count()>0)
            {
                
                foreach (var rr in Model.searchlist)
                {
                    <div class="collaboration-user" style="height: auto;">
                       <p class="text-in-owner"> <a class="btn btn-default pull-right" style="margin-right: 5px;" href="AddCollaboration?prid=@ViewBag.prid&userid=@rr.number"><i class="fa fa fa-share fa-lg"></i> Invite</a></p> <h4>@rr.msg</h4>
                    </div>
                   
               
                }
            }
            else
            {
               
                

            }

      <br>
           @foreach (var r in Model.prcollist.Where(p => p.invitestatus == "Accepted"))
           { 
                <div class="collaboration-user">
                    <p class="text-in-owner"><img src="~/Images/userAccepted.png" /> <h>@r.username </h></p>
                </div>
           }

               @foreach (var r in Model.prcollist.Where(p => p.invitestatus == "Pending"))
           { 
                <div class="collaboration-user">
                    <p class="text-in-owner"><img src="~/Images/userPending.png" /> <h>@r.username </h></p>
                </div>
           }
          

      </div>


    </div><!-- /.container -->