﻿

    @using (Html.BeginForm("Collaboration", "SiteWalk", FormMethod.Post, new { enctype = "multipart/form-data", @class = "navbar-form", @role = "search" }))
          {
               <h3 align="left"><i class="fa fa-search fa-lg"></i> Email address</h3>
               <div class="input-group">

            <input type="text" class="form-control" placeholder="Search for new collaborator" name="searchkey" id="searchkey">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" data-target="Collaboration?prid=@Session["ProjectID"]" ><i class="fa fa-search fa-lg"></i></button>
            </div>
           
        </div>
          }


    


<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    Sorry, Your buddy's not found.</h4>
            </div>
            <div class="modal-body">
            @if (ViewBag.SearchList != null)
            {
                <p>none-loop</p>
                foreach (var rr in ViewBag.SearchList as List<BuikSiteWalkModel1.ModelEntities.IntStringObj>)
                {
                    <p>test</p>
                    <a>@rr.msg</a>
                    <a>@rr.number</a>
               
                }
            }
            else
            {
                <p>null</p>
            }
                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel</button>
                <button type="button" class="btn btn-primary">
                    Invite</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->