﻿@model BuikSiteWalkModel1.ModelEntities.BuikIssueEntity

@{
    ViewBag.Title = "CreateProjectIssue";
}

<h2>CreateProjectIssue</h2>
<ul class="two_column">
    <li>
        @using (Html.BeginForm("CreateProjectIssue", "SiteWalk", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
           
            <fieldset>
                <legend>Create new Issue</legend>
                <div class="editor-label">
                   @ViewBag.ProjectId

                    @Html.TextBoxFor(model => model.ProjectSurrKey, new { @Value = @ViewBag.ProjectId, @type = "hidden" })
                 
                </div>
                <input type="file" id="image44" name="image44" accept="image/*" />
                
                <div class="editor-label">
                   <!-- @Html.LabelFor(m => m.IssuetypeId) -->
                    Issue Type
                </div>
                <div class="editor-field">
                   <!-- @Html.ValidationMessageFor(m => m.IssuetypeId) -->
                    @Html.DropDownListFor(m => m.IssuetypeId, new List<SelectListItem>(ViewBag.IssueTypes))
                </div>
                <div class="editor-field">
                   <!-- @Html.ValidationMessageFor(m => m.IssueProgress) -->
                    @Html.TextBoxFor(m => m.IssueProgress, new { @class = "textbox", @placeholder = "Issue Progress" })
                </div>
                <h1>Issue Detail</h1>
                <div class="editor-field">
                   
                    @Html.TextBoxFor(m => m.IssueDetail, new { @class = "textbox", @placeholder = "Issue Detail" })
                </div>
                
               


            </fieldset>
           
            <fieldset>
                <legend>Issue Deadline</legend>
               
               
                <div class="editor-label">
                    @Html.LabelFor(m => m.IssueDeadline)
                </div>
                <div class="editor-field">
                    @Html.ValidationMessageFor(m => m.IssueDeadline)
                    @Html.TextBoxFor(m => m.IssueDeadline, "{0:d}", new { @class = "datefield", type = "date" })
                </div>
              <!--  <input type="file" id="image44" name="image44" accept="image/*" />
                 <input type="submit" value="Create"/>   -->
            
                 <input type="submit" value="Create" title="Create Issue"/>

            </fieldset>
            
        }
    </li>
    <li>
        
        
    </li>
</ul>

