﻿@model DemoBuikAlp1.Models.ProjectModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDemo1.cshtml";
}
  <div class="gap"></div>
  @using (Html.BeginForm("Create","SiteWalk", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
           
     
  <div class="form-group">
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10 create-project-headerColor">
            <h4>
              <i class="fa fa-pencil fa-lg"></i>   Project Information
            </h4>
        </div>
    </div>


   <div class ="row">
                <div class="col-md-1"></div>
                <label for="ProjectName" class="col-sm-2 control-label">Project Name :</label>
                <div class="col-sm-6">
                    @Html.ValidationMessageFor(m => m.ProjectName)
                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "textbox", @placeholder = "Project Name" })
                </div>
   </div>

  <div class ="row">
  <div class="form-group">
    <div class="col-md-1"></div>
    <label for="CustomerName" class="col-sm-2 control-label">Customer Name :</label>
    <div class="col-sm-6">
              @Html.ValidationMessageFor(m => m.CustomerName)
              @Html.TextBoxFor(m => m.CustomerName, new { @class = "textbox", @placeholder = "Customer Name" })
    </div>
  </div>
 </div>

    <div class ="row">
    <div class="form-group">
            <div class="col-md-1"></div>
            <label for="ProjectType" class="col-sm-2 control-label">Type :</label>
              <div class="col-sm-6">
                 @Html.ValidationMessageFor(m => m.ProjectType)
                 @Html.DropDownListFor(m => m.ProjectType, new List<SelectListItem>(ViewBag.ProjectTypes)) 
              </div>
          </div>
    </div>
    </div>
         
 <!-- Section Project Location -->
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10 create-project-headerColor">
          <h4>
            <i class="fa fa-map-marker fa-lg"></i>   Project Location
          </h4>
        </div>
    </div>
      
   <div class="row">
        <div class="col-md-1"></div>
       <label for="Country" class="col-sm-2 control-label">Project Country :</label>
    <div class="col-sm-6">
       @Html.ValidationMessageFor(m => m.Country)
      @Html.DropDownListFor(m => m.Country, new List<SelectListItem>(ViewBag.Country))
    </div>
  </div>
      
    <div class="row">   
          <div class="form-group">
               <div class="col-md-1"></div>
            <label for="projectProvinceText" class="col-sm-2 control-label">Project Province :</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="projectProvinceText" placeholder="Enter Project Province">
            </div>
          </div>
    </div>
      
   <div class="row">      
          <!-- lat & lng button -->
          <div class="form-group">
               <div class="col-md-1"></div>
            <label for="Lat" class="col-sm-2 control-label">Latitude :</label>
            <div class="col-sm-6">
                 @Html.TextBoxFor(m => m.Lat)
            </div>
          </div>
   </div>
      
  <div class="row">  
          <div class="form-group">
               <div class="col-md-1"></div>
            <label for="Long" class="col-sm-2 control-label">Longitude :</label>
            <div class="col-sm-6">
                 @Html.TextBoxFor(m => m.Long)
            </div>
          </div>
  </div>

  <div class="row">      
  <!-- Section Project Duration -->
    <div class="form-group">
    
      <div class="col-md-1"></div>
        <div class="col-md-10 create-project-headerColor">
          <h4>
            <i class="fa fa-dashboard fa-lg"></i>   Project Duration
          </h4>
        </div>
    </div>
    </div>
   

   <div class="row"> 
     <div class="col-md-1"></div>
    <label for="StartDate" class="col-sm-2 control-label">Start Date :</label>
    <div class="col-sm-6">
          @Html.ValidationMessageFor(m => m.StartDate)
          @Html.TextBoxFor(m => m.StartDate, "{0:d}", new { @class = "datefield", type = "date" })

    </div>
  </div>
  <div class="row">     
  <div class="form-group">
     <div class="col-md-1"></div>
    <label for="EndDate" class="col-sm-2 control-label">End Date :</label>
    <div class="col-sm-6">
           @Html.ValidationMessageFor(m => m.EndDate)
                    @Html.TextBoxFor(m => m.EndDate, "{0:d}", new { @class = "datefield", type = "date" })
    </div>
  </div>
  </div>

  <!-- Section Upload Photos -->
    <div class="row">   
    <div class="form-group">
      <div class="col-md-1"></div>
        <div class="col-md-10 create-project-headerColor">
          <h4>
            <i class="fa fa-picture-o fa-lg"></i>   Optional
          </h4>
        </div>
    </div>
    </div>
 
            <div class="row">    
            <div class="form-group">
            <div class="col-md-1"></div>
            <label for="uploadCoverButton" class="col-sm-2 control-label"> Project Render :</label>
                <div class="col-sm-6">
                     <input type="file" class="btn btn-default" id="image44" name="image44" accept="image/*" />
          
                </div>

            </div>
            </div>
            
  <div class="row">     
  <div class="form-group">
      <div class="col-md-1"></div>
    <label for="uploadFPButton" class="col-sm-2 control-label">Floor Plans :</label>
    <div class="col-sm-6">
        <button type="button" class="btn btn-default" id="uploadFPButton">Upload File</button>
    </div>
  </div>
</div>

  <!-- Section Project Collaboration -->
  <div class="row"> 
    <div class="col-md-1"></div>
        <label for="collaborationButton" class="col-sm-2 control-label">Collaborators :</label>
    
        <div class="col-sm-6">
          <button type="button" class="btn btn-default" id="collaborationButton">Add Collaboration</button>
        </div>
  </div>
  
  <!-- Sumbit & cancel Button -->
<div class="gap"></div>
<div class="row"> 
  <div class="form-group">
    <div class="col-sm-offset-1">
      <button type="submit" class="btn btn-success" id="submitButton" value="Create" style="width:360px"><i class="fa fa-check fa-lg"></i> Create</button>
      <a href="Index"><button type="button" class="btn btn-danger cancel-btn-style" id="cancelButton" style="width:360px"><i class="fa fa-times fa-lg"></i> Cancel</button></a>
    </div>
  </div>
</div>


}

