﻿@model BuikSiteWalkModel1.ModelEntities.BuikIssueEntity
  
    

<div class="text-bg">
                <div class="profile-picture">
                    @{var session = new BuikSiteWalkModel1.UserSession();
                      <img width="32" height="32" src="@session.UserInfoKeyAvatarPath" class="img-circle"/>
                    }
                  </div>
                <div class="quote">
                     
                </div>

                <div class="text" id="create_issue_text">
                    Create New Issue...

                </div>
    <div id="new_issue_input">
            
    @using (Html.BeginForm("CreateProjectIssuePartial", "SiteWalk", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
          
                  



        @Html.TextBoxFor(model => model.ProjectSurrKey, new { @Value = @ViewBag.ProjectId, @type = "hidden" })
         
      
    
                
                
      
        //TextArea For Issue Input
                   @Html.TextAreaFor(m => m.IssueDetail, new { @id = "new_issue", @row = "3", @style = "border: none; font-size: 12px; width: 100%; height: 80px; outline: none; line-height: 16px;", @class = "textbox", @placeholder = "Issue Detail" })
                     
                     <!-- Single button -->
        //Button Upload
                    <div style="float: left; height:0px;overflow:hidden;">

                        <input type="file" id="image44" name="image44" accept="image/*" />
                        
                    </div>
                        <button type="button" class="btn btn-default btn-sm" onclick="chooseFile();">
                            <i class="fa fa-camera-retro fa-lg"></i>
                        </button>
                   
        // Dropdown list
                  <div style="float: right;">
                        <div class="btn-group">
                          

                           <select data-val="true" data-val-number="The field IssuetypeId must be a number." data-val-required="The IssuetypeId field is required." id="IssuetypeId" name="IssuetypeId">
                            <option value="1" selected>Progress</option>
                            <option value="2">Action Required</option>
                            <option value="3">Good Job</option>
                            <option value="4">Request for Information</option>
                            <option value="5">Defect</option>
                            </select>


                            
                        </div>
                        <button type="submit" id="submit" name="submit" value="Create" title="Post" class="btn btn-primary btn-sm">
                            Post</button>
                    </div>
       
        //Slider Div
       
        <div class="slider slider-horizontal" style="width: 140px; padding-left: 20px;" >
            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="10"  id="IssueProgress" name="IssueProgress" >
            
        </div>
        
        <div class="action-required-block">
          <i class="fa fa-users"></i> <a data-toggle="modal" title="Add this item" href="#tagCollaboration"> 0 was tagged</a>
          <i class="fa fa-calendar"></i>   <input class="datefield" data-val="true" data-val-date="The field Deadline must be a date." data-val-required="Deadline date is required." id="IssueDeadline" name="IssueDeadline" type="date" value="" />


        </div>
       
               
  
           
               
            
        
    }

                                <!-- Tagging Collaboration Modal View -->    
                                 <div class="modal fade" id ="tagCollaboration">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Tagging collaboration who take responsibility</h4>
                                      </div>
                                      <div class="modal-body">
                                        <p>[Search Collaboration function]&hellip;</p>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                <script>
                    
                    window.onload = function () {
                        var name = $('#IssuetypeId option:selected').text(); //Item1
                        var id = $('#IssuetypeId').val(); // option2
                        if (id == 1)
                        {
                            $('.slider').show();
                            $('.action-required-block').hide();
                        }
                    };

                    function chooseFile() {
                        document.getElementById("image44").click();

                    };

                  

                    //Progress Bar Slider Added
                    $('#IssueProgress').slider({
                        formater: function (value) {
                            return "Current Progress is: "+value+" %";
                        }
                    });

                    $('#IssuetypeId').change(function () {
                        var name = $('#IssuetypeId option:selected').text(); //Item1
                        var id = $('#IssuetypeId').val(); // option2
                        if (id == "1") {
 
                            $('.slider').show();
                            $('.action-required-block').hide();
                        }
                        else if (id == "2")
                        {
                            $('.action-required-block').show();
                            $('.slider').hide();
                        }
                        else {
                            $('.action-required-block').hide();
                            $('.slider').hide();

                        }

                    });

                </script>

       