﻿@model List<BuikSiteWalkModel1.ModelEntities.ProjectDetailMobile>

@{
    ViewBag.Title = "Dashboard";
}


<div>@Html.ActionLink("Creat New Project","Create")</div>
@foreach (var p in Model)
{
    @Html.Partial("_ProjectPartial", p)
    @*<div class="item">
        Project : <h3>@p.ProjectName</h3>
        @p.ProjectCoverPhoto
        Province: <h3>@p.ProjProvince</h3>
        country: <h3>@p.ProjCountry</h3>
        Owner: <h3>@p.CustomerName</h3>
        From :<h3>@p.StartDate</h3> To:<h3>@p.FinishDate</h3>
        Day Remain: <h3>@p.DayRemain</h3>
        User in Project: <h2>@p.UserJoin</h2>
        <h3>@p.isFav</h3>
    </div>*@
}
