﻿@model List<BuikSiteWalkModel1.ModelEntities.ProjectDetailMobile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDemo1.cshtml";
}



<div class="container dashboard">
     <div class="starter-template">
      <div class="col-md-4" ><span class='fa fa-plus-circle fa-lg'></span> @Html.ActionLink("Creat New Project","Create")</div>
    </div>
@foreach (var p in Model)
{
    @Html.Partial("_ProjectPartial", p)
    
}

         
</div>