﻿@model List<BuikSiteWalkModel1.ModelEntities.BuikIssueEntity>

@{
    Layout = "~/Views/Shared/_LayoutDemo1.cshtml";
    ViewBag.Title = "IssueCommentPartial";
}



@{
   //String IssueIDFromGetMethod = Request.QueryString["issueid"];  
}
@foreach (var res in Model)
{ 
        <!-- User Profile Row -->
       <div class ="row">        
           <div class="col-md-12" style="background-color: #ffcc00;">
          <div class="pull-left"><img width="32" height="32" src = "@res.IssueCreatorPhoto" style="margin-top:4px;" /></div> <div class="pull-left"> <h4 style="margin-left:5px;">@res.IssueCreatorName</h4></div> 
          <div class="pull-right"><h4>@res.IssueDateTimeCreate</h4></div>

           </div>
       </div>
    
        <!-- Issue Image Row -->
        if (@res.IssueFile == "") // [Knothing] Check if there is not image issue
        {
            // Display none
        }
        else
        {
            // Display Image
        <div class ="row"> 
             <div class="col-md-12" style="background-color: #f7f7f7;">
                 <div class='wrapper issue-detail-box'>
                    <a href="@res.IssueFile" data-toggle="lightbox" data-title="<img src='@res.IssueCreatorPhoto' style='width:28px; height:28px;'> @res.IssueCreatorName" data-footer="@res.IssueDetail">  
                    <img src="@res.IssueFile" class="img-responsive ratio"/>

                      </a>
                 </div>
             </div>
        </div>
        }
        
        <!-- Issue Detail Row -->
        <div class ="row"> 
            <div class="col-md-12" style="background-color: #e8e8e8;">
             <h4>@res.IssueDetail</h4>
            </div>
        </div>

                        
    
 
    
}
