﻿@model List<BuikSiteWalkModel1.ModelEntities.BuikIssueComment>

@{
    ViewBag.Title = "IssueDetail";
    Layout = "~/Views/Shared/_LayoutDemo1.cshtml";
}
<div class="gap"></div>
    <div class="container dashboard">
        <div class ="row">
            <a class="btn btn-default" href="javascript:history.back()">Back to timeline</a>
        </div>

        <div class="gap"></div>
             @{
                 // [Knothing] Render the Issue Detail as Partial View named "IssueCommentPartial" 
                 Html.RenderAction("IssueCommentPartial", new { issueId = @Request.QueryString["issueid"] });
              }

            <div class="gap"></div>
            @foreach (var tt in Model) // [Knothing] If there is any comment on this project, display all comment list.
            { 
                 <div class ="row" > 
                    <div class="col-md-12" style="background-color: #e8e8e8; ">
                     <img  width="32" height="32" src="@tt.CUPhoto" class="img-circle" /> <b>@tt.CUserName</b>&nbsp; @tt.CommentD
                    </div>
                 </div>
                 <div class ="row"> 
                    <div class="col-md-12" style="background-color: #e8e8e8; color: #808080;">
                     <p>@tt.CDatetime</p>
                    </div>
                 </div>
        
                    
                        
    
              
    
            }
            
        <!-- Comment -->
          @using (Html.BeginForm("AddIssueComment", "SiteWalk", FormMethod.Post, new { enctype = "multipart/form-data" }))
         {
          
             <input type="hidden" id="issueId" name="issueId" value="@Request.QueryString["issueid"]" />
             
        //TextArea For Issue Input
              <div class ="row"> 
                  <div class="col-md-12" style="background-color: #e8e8e8;">
                      <textarea id="issuecomment" name="issuecomment" rows="1" style="border: none; font-size: 14px; width: 100%; height: 80px; outline: none; line-height: 16px; margin-top:10px; margin-bottom:10px;" class="textbox" placeholder="Type your comment here"></textarea>
             
                     
                   
                  
                          <div style="float: right;">
                     
                                <button type="submit" id="submit" name="submit" value="Create" title="Post" class="btn btn-primary btn-sm" style="margin-bottom:5px;">
                                    Comment</button>
                            </div>
                </div>
            </div>
          }
       
     </div>


<script>

    $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });

</script>