﻿@model DemoBuikAlp1.Models.ProjectIssueModel

@{
    ViewBag.Title = "ProjectSetting";
    Layout = "~/Views/Shared/_LayoutDemo1.cshtml";
}

<div class="gap"></div>

<div class="container dashboard">
        
		<div class="row">
		<div class="col-md-12"><a class="btn btn-default pull-left" href="javascript:history.back()">Back to Timeline</a> <a href="#" class="btn btn-warning  pull-right"><span class="glyphicon glyphicon-cog"></span> Edit this project</a></div>
		</div>
		<br >
		<div class="row">
						
							<div class="col-md-12">
								
								<!-- Project widget -->
								<div class="widget projects-widget">
									
									<div class="widget-head br-green">

										<h3><span class="glyphicon glyphicon-briefcase"></span> Project Setting : @Model.prdetail.ProjectName </h3> 
										
										
									</div>
									
									<div class="widget-body no-padd">
										
										<ul class="list-unstyled">

											<li>
											  <p>
	
												<!-- Name -->
												<strong>Project Status  : </strong> 
											  </p>

											  <p class="p-meta">
												<!-- Due date & % Completed -->
												<span>Deadline : 26/2/2014 - 80% Done</span> 
											  </p>
												
												<!-- Progress bar -->
											  <div class="progress progress-striped active">
												  <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
													<span class="sr-only">45% Complete</span>
												  </div>
												</div>
												</li>


											<li>
											  <p>

												<!-- Name -->
												<strong>Project Name : </strong> @Model.prdetail.ProjectName
											  </p>
								
											</li>

											<li>
											  <p>

												<!-- Name -->
												<strong>Customer Name : </strong> @Model.prdetail.CustomerName
											  </p>
								
											</li>

											<li>
											  <p>

												<!-- Name -->
												<strong>Company Name :  </strong> 
											  </p>
								
											</li>

										
											<li>
											  <p>

												<!-- Name -->
												<strong>Start Date : </strong> @Model.prdetail.StartDate
											  </p>
								
											</li>

											<li>
											  <p>

												<!-- Name -->
												<strong>Finish Date :</strong> @Model.prdetail.FinishDate
											  </p>
								
											</li>

											
											<li>
											  <p>

												<!-- Name -->
												<strong>Location : </strong> @Model.prdetail.ProjProvince , @Model.prdetail.ProjCountry
											  </p>
								
											</li>
											
											
										</ul>
										
									</div>
									
									<!--Footer for other options-->
									<div class="widget-foot">
									<ul class="list-unstyled">
									<li>
										<span class="pull-left"><i class="fa fa-time"></i> <h4>Collaboration</h4></span>
										<a href="Collaboration?prid=@Model.projectID" class="btn btn-success  pull-right">Manage</a>
										<div class="clearfix"></div>
									</li>
									<li>
										<span class="pull-left"><i class="fa fa-time"></i> <h4>Project Render</h4></span>
										<a href="ProjectPhotoRender?prid=@Model.projectID" class="btn btn-success  pull-right">Manage</a>
										<div class="clearfix"></div>
									</li>
									<li>
										<span class="pull-left"><i class="fa fa-time"></i> <h4>Floor Plan</h4></span>
										<a href="AddProjectFloorPlan?prid=@Model.projectID" class="btn btn-success  pull-right">Manage</a>
										<div class="clearfix"></div>
									</li>
									</ul>
									</div>
									
								</div>
								
							</div>
	



 </div>
</div><!-- /.container -->
