﻿@model DemoBuikAlp1.Models.ProjectIssueModel
@{
    ViewBag.Title = "Timeline";
    Layout = "~/Views/Shared/_LayoutDemo1.cshtml";
}
<div class="cover-photo" style="background-image: url('@Model.prdetail.ProjectCoverPhoto'); background-size: cover; background-repeat:no-repeat; background-position:center;">
</div>
<div class="container">
    <div class="timeline-properties">
        <div style="float: left; margin-left: 10px; margin-top: 3px;">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Filter:&nbsp;<i class="fa fa-list-ul fa-lg"></i>&nbsp;All&nbsp;<i class="caret"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="Timeline?prid=@Request.QueryString["prid"]&filtername=All"><i class="fa fa-list-ul fa-lg"></i> All</a></li>
                    <li><a href="Timeline?prid=@Request.QueryString["prid"]&filtername=1"><i class="fa fa-signal fa-lg"></i> Progress</a></li>
                    <li><a href="Timeline?prid=@Request.QueryString["prid"]&filtername=2"><i class="fa fa-warning fa-lg"></i> Action Require</a></li>
                    <li><a href="Timeline?prid=@Request.QueryString["prid"]&filtername=3"><i class="fa fa-thumbs-o-up fa-lg"></i> Good Job</a></li>
                    <li><a href="Timeline?prid=@Request.QueryString["prid"]&filtername=4"><i class="fa fa-question-circle fa-lg"></i> Req. for Info.</a></li>
                    <li><a href="Timeline?prid=@Request.QueryString["prid"]&filtername=5"><i class="fa fa-times-circle fa-lg"></i> Defect</a></li>
                </ul>
            </div>
        </div>
        <div style="float: right;">
            <form method="get">
            <div class="input-group" style="width: 250px; margin-left: 10px; float: left; margin-top: 5px;">
                <input type="text" class="form-control input-sm" placeholder="Search for issue" id="searchKeyword" name="searchKeyword" />
                <input type="hidden" id="prid" name="prid" value="@Request.QueryString["prid"]" />
                 <input type="hidden" id="filtername" name="filtername" value="All" />
                  
                <div class="input-group-btn">
                    <button class="btn btn-default input-sm" type="submit">
                        <i class="fa fa-search fa-lg"></i>
                    </button>
                </div>
            </div>
            </form>


            <div style="width: 250px; float: left; text-align: center;">
                <a href="#"><i class="fa fa-file-o fa-lg"></i>&nbsp;Reports</a><a href="ProjectSetting?prid=@Request.QueryString["prid"]";><i
                    class="fa fa-cog fa-lg"></i>&nbsp;Project Settings</a>
            </div>
        </div>
    </div>
    <div class="timeline-header">
        <div class="favorite_sign">
            <a href="#" title="Add to favorite">&nbsp;</a></div>
        <div class="project-description">
            <h3>
                <a>@Model.prdetail.ProjectName</a></h3>
            <p>@Model.prdetail.StartDate - @Model.prdetail.FinishDate<br />
                <a href="#"><i class="fa fa-users fa-lg"></i> @Model.prdetail.UserJoin</a></p>
        </div>
    </div>
    <div style="clear: both; height: 10px;">
    </div>
    <div class="timeline-item">
        <div class="new_issue">
           
             @{Html.RenderAction("CreateProjectIssuePartial", new {prid = @Model.prdetail.prid});}
          
                
            <div style="clear: both;">
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <div style="clear: both;">
            </div>
                
        </div>
        <div class="issue">
            @foreach (var p in Model.IssueList)
            {
                <div class="profile_picture">
                    <a href="">
                        
                        <img src="@p.IssueCreatorPhoto" class="img-circle" /></a></div>
                <div class="text">
                    <h4>
                        <a href="#">@p.IssueCreatorName</a></h4>
                    <p>@p.IssueCreatCompany</p>
                </div>
                <div class="issue_settings">
                    <div class="btn-group" style="float: right;">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                            <i class="fa fa-chevron-right fa-lg"></i><i class="sr-only">Toggle
                                Dropdown</i>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="text-align: left;">
                            <li><a href="#">Edit this issue</a></li>
                            <li><a href="#">Remove this Issue</a></li>
                        </ul>
                    </div>
                    <div style="float: right; margin-right: 10px;">
                        <i class="fa fa-clock-o fa-lg"></i> @p.IssueDateTimeCreate</div>
                    <div style="clear: both;">
                    </div>
                </div>
                <div class="issue_content">
                    <p>@p.IssueDetail</p>
                    <div class="header">
                        
                        @{ if (p.IssuetypeId.Equals(1))
                           {
                               <i class='fa fa-signal fa-lg'></i>
                               String typeOfIssue = @"Progress";
                               @typeOfIssue;
                           }
                           if (p.IssuetypeId.Equals(2))
                           {
                               <i class="fa fa-warning fa-lg"></i>
                               String typeOfIssue = @"Action Required";
                               @typeOfIssue;
                           }
                           if (p.IssuetypeId.Equals(3))
                           {
                               <i class="fa fa-thumbs-o-up fa-lg"></i>
                               String typeOfIssue = @"Good Job";
                               @typeOfIssue;
                           }
                           if (p.IssuetypeId.Equals(4))
                           {
                               <i class="fa fa-question-circle fa-lg"></i>
                               String typeOfIssue = @"Request For Information";
                               @typeOfIssue;
                           }
                           if (p.IssuetypeId.Equals(5))
                           {
                               <i class="fa fa-times-circle fa-lg"></i>
                               String typeOfIssue = @"Defect";
                               @typeOfIssue;
                           }
                         }
                    </div>

                    @if (p.IssueProgress > 0) // check if progress is 0 or not the progress type
                    {
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@p.IssueProgress"
                            aria-valuemin="0" aria-valuemax="100" style="width: @p.IssueProgress%">
                            <i>@p.IssueProgress % Complete (success)</i>
                        </div>
                    </div>
                    }
                    
                        <div class="issue-box">
                        
                            @{
                           if (p.IssueFile.Contains("jpg"))
                           {
                               <a href="@p.IssueFile" data-toggle="lightbox" data-loading-text="<i class='fa fa-cog fa-spin fa-lg'></i> Loading" data-title="<img src='@p.IssueCreatorPhoto' style='width:28px; height:28px;'> @p.IssueCreatorName <a href='@p.IssueFile' class='pull-right' style='margin-right: 10px;'>Download</a>" data-footer="@p.IssueDetail">  
                                <div  class="issue_photo">
                                <img src="http://sitewalk.cloudapp.net/PhotoRez/GetIssueImage/?issueid=@p.IssueId&psize=500" style="width: 100%;" />
                                </div>
                                </a>
                                
                           }
                           if (p.IssueFile.Contains("m4a"))
                           {
                                
                                <center><h3><i class="glyphicon glyphicon-volume-off"></i> Voice is not SUPPORT for SiteWalk Website yet.</h3></center>
                           }
                           else
                           {
                           }
                            }
                            
                        </div>
                        
                    <div class="header">
                        <div style="float: left;  display: inline-block;">
                            <div id="like_@p.IssueId"><a href="#" class="like_btn" name="@p.IssueId"><i class="fa fa-thumbs-o-up fa-lg"></i> Like <span id="like_amount_@p.IssueId">@p.IssueLike</span></a><i style="margin-left: 10px;">
                            <a href="/SiteWalk/IssueDetail?issueid=@p.IssueId"><i class="fa fa-comment fa-lg">
                            </i> Comments @p.IssueComment</a></i></div>
                            
                        </div>

                        @if (p.IssueFloorPlanPhoto == "DefaultAva1.jpg" || p.IssueFloorPlanPhoto == "(null)") // [Knothing] Added check for displaying view pinned floor plan
                        {
                            // Not display icon for view pinned floor plan
                        }
                        else
                        {
                            // Display icon for view floor plan
                        <div style="float: right">
                              <a href="@p.IssueFloorPlanPhoto" data-toggle="lightbox" data-loading-text="<i class='fa fa-cog fa-spin fa-lg'></i> Loading" data-title="Pinned Floor Plan <a href='@p.IssueFloorPlanPhoto' class='pull-right' style='margin-right: 10px;'>Download</a>"> <i class="fa fa-map-marker fa-lg"></i> View Floor Plan </a>

                        </div>
                        }
                        <div style="clear: both;">
                        </div>
                    </div>


                </div>
                <div style="clear: both;">
                </div>
                <div class="line-separator"></div>
            }
        </div>
          
  

<!-- /.container -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    Sorry, Your buddy's not found.</h4>
            </div>
            <div class="modal-body">
                Do you want us to send the invitation to your buddy as a collaborator of this project
                ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel</button>
                <button type="button" class="btn btn-primary">
                    Invite</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script type="text/javascript">
    $(function () {
        $("#new_issue_input").hide();
        $("#create_issue_text").click(function () {
            $("#create_issue_text").hide();
            $(".text-bg").css("height", "120px");
            $("#new_issue_input").slideDown("fast", function () {
                $("#new_issue").focus();
            });
        });
        $("#new_issue").blur(function () {
            /*if( $( "#new_issue" ).val().length==0 ){
            $( "#new_issue_input" ).slideUp( "fast", function() {
            $( "#create_issue_text" ).show();
            $( ".text-bg" ).css( "height", "32px" );
            });
            }*/
        });

        function addLike() {
            alert("Liked from Add Like");
        };

        $('.like_btn').click(function () {
            var issue_id = $(this).attr('name');
            var like_amount = Number($('#like_amount_' + issue_id).html());
            like_amount++;
            $('#like_amount_' + issue_id).html(like_amount);
            return false;
        });

        $('#like-button').click(function () {
            alert("Liked");
            
            
            
        });

       
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
       

        

        //alert( $( "#new_issue" ).width() );
    });

   
</script>