﻿@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
}
@model BuikSiteWalkModel1.ModelEntities.BuikProjectEntity
@{
    ViewBag.Title = "Add New Project";
}

<h2>AddNewProject</h2>    
    
 <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.ProjectName)
                @Html.TextBoxFor(m => m.ProjectName)
            </li>
            <li>
                @Html.LabelFor(m => m.CustomerName)
                @Html.TextBoxFor(m => m.CustomerName)
            </li>
            <li>
                @Html.LabelFor(m => m.ProjectType)
                @Html.DropDownListFor(m => m.ProjectType,)
            </li>
            <li>
                @Html.LabelFor(m => m.ProjectLocation)
                @Html.TextBoxFor(m => m.ProjectLocation)
            </li>
            <li>
                @Html.LabelFor(m => m.ProjectTimelinePhoto)
                @Html.PasswordFor(m => m.ProjectTimelinePhoto)
            </li>
            <li>
                @Html.LabelFor(m => m.ProjectStartDate)
                @Html.DropDownListFor(m => m.ProjectStartDate)
            </li>
            <li>
                @Html.LabelFor(m => m.ProjectEndDate)
                @Html.DropDownListFor(m => m.ProjectEndDate)
            </li>
            <li>
                @Html.LabelFor(m => m.ProjectTimelinePhoto)
                @Html.TextBoxFor(m => m.ProjectTimelinePhoto)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>



