﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Builk SiteWalk Collaboration</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/slider")
    @Scripts.Render("~/bundles/imgmodal")
    
   
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Index">
                    <img src="@Url.Content("~/Images/logo.png")"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- dropdown001 code-->
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <h4>
                            SiteWalk<b class="caret"></b></h4>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://app.builk.com/mybuilk/wall">MyBuilk</a></li>
                            <li><a href="https://app.builk.com/costcontrol/dashboard">CostControl</a></li>
                            <li><a href="https://app.builk.com/companyprofile/dashboard">CompanyProfile</a></li>
                            <li><a href="https://app.builk.com/connect">Connect</a></li>
                            <li><a href="https://app.builk.com/ListManager/Dashboard">ListManager</a></li>
                            <li><a href="https://app.builk.com/advertise/dashboard">Builk for Supplier</a></li>
                        </ul>
                    </li>
                </ul>
                @{var session = new BuikSiteWalkModel1.UserSession();
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <!-- <div id="noti_Container"> -->
                            <img height="40" width="40" src="@session.UserInfoKeyAvatarPath" class="img-circle">
                            <!-- <div class="noti_bubble">99</div> -->
                            <!-- </div> -->
                        </a>

                     </li>
                     <li>
                         <a href="#">
                            
                            <h4>@session.UserInfoKeyFullName</h4>
                        
                        </a>

                     </li>
                    <li>
                         <a href="#">
                            
                            <h4>@session.CompanyInfoKeyName</h4>
                        
                        </a>

                     </li>
                </ul>
                }
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>
    @RenderSection("featured", required: false)
    @RenderBody()
</body>
</html>
