﻿@{
	Layout = null;
}

<!DOCTYPE html>

<html class=" js no-flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Builk SiteWalk prototype1</title>
	<meta name="description" content="Builk Style Guide">
	<meta name="author" content="Teeragit Hare">

	<meta name="viewport" content="width=960">

	<script type="text/javascript" async="" src="./DemoResource/ga.js"></script><script async="" src="./DemoResource/cloudflare.min.js"></script><script type="text/javascript">

</script>
<script type="text/javascript">

	try { if (!window.CloudFlare) { var CloudFlare = [{ verbose: 0, p: 0, byc: 0, owlid: "cf", mirage: { responsive: 0, lazy: 0 }, mirage2: 0, oracle: 0, paths: { cloudflare: "/cdn-cgi/nexp/abv=4091646783/" }, atok: "baa6705a474e8e5326cf299f99c20e40", zone: "teeragit.com", rocket: "0", apps: { "ga_key": { "ua": "UA-2318928-1", "ga_bs": "2"}}}]; var a = document.createElement("script"), b = document.getElementsByTagName("script")[0]; a.async = !0; a.src = "//ajax.cloudflare.com/cdn-cgi/nexp/abv=1573736665/cloudflare.min.js"; b.parentNode.insertBefore(a, b); } } catch (e) { };

</script>
<link rel="stylesheet" href="http://beta.teeragit.com/builk/css/normalize.css">
	<link rel="stylesheet" href="http://beta.teeragit.com/builk/styles/fonts/opensans.css">
	<link rel="stylesheet" href="http://beta.teeragit.com/builk/styles/fonts/font-awesome.css">
	<link rel="stylesheet" href="http://beta.teeragit.com/builk/styles/css/style.css">
	<link rel="stylesheet" href="http://beta.teeragit.com/builk/styles/css/subHeader.css">
	<link rel="stylesheet" href="http://beta.teeragit.com/builk/css/overrides.css">
	
	<script src="./DemoResource/modernizr-2.5.3.min.js"></script>
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-2318928-1']);
	_gaq.push(['_trackPageview']);

	(function () {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	(function (b) { (function (a) { "__CF" in b && "DJS" in b.__CF ? b.__CF.DJS.push(a) : "addEventListener" in b ? b.addEventListener("load", a, !1) : b.attachEvent("onload", a) })(function () { "FB" in b && "Event" in FB && "subscribe" in FB.Event && (FB.Event.subscribe("edge.create", function (a) { _gaq.push(["_trackSocial", "facebook", "like", a]) }), FB.Event.subscribe("edge.remove", function (a) { _gaq.push(["_trackSocial", "facebook", "unlike", a]) }), FB.Event.subscribe("message.send", function (a) { _gaq.push(["_trackSocial", "facebook", "send", a]) })); "twttr" in b && "events" in twttr && "bind" in twttr.events && twttr.events.bind("tweet", function (a) { if (a) { var b; if (a.target && a.target.nodeName == "IFRAME")a: { if (a = a.target.src) { a = a.split("#")[0].match(/[^?=&]+=([^&]*)?/g); b = 0; for (var c; c = a[b]; ++b) if (c.indexOf("url") === 0) { b = unescape(c.split("=")[1]); break a } } b = void 0 } _gaq.push(["_trackSocial", "twitter", "tweet", b]) } }) }) })(window);

</script>
	<meta name="viewport" content="width=device-width" />
	
</head>
<body>
   <header>
	<div class="container">
		<h1><a href="http://beta.teeragit.com/builk/styles/subHeader_heading.html#"><img src="./DemoResource/logo.png" alt="Builk"/></a></h1>
		<h2>
			<a href="http://beta.teeragit.com/builk/styles/subHeader_heading.html#" id="app"><span class="app">My Builk</span><i class="icon-caret-down"></i></a>
		</h2>
		<h3>
			<a href="http://beta.teeragit.com/builk/styles/subHeader_heading.html#" id="account"><span class="account corporate">
			<span class="name">Patai Padungtin</span><span class="company">Lormoon Co., Ltd.</span></span>
			<span class="notifications">11</span><img src="./DemoResource/companyLogo1.png" alt="Company Logo">
			<img src="./DemoResource/profilePicture.png" alt="Profile Picture"><i class="icon-caret-down"></i></a>
		</h3>
	</div>
</header>

<section id="main" role="main">
	<header>
		<div class="container">
			<h1><img src="./DemoResource/companyLogo1_64.png" alt="Company Logo"> Lormoon Co., Ltd.</h1>
		</div>
	</header>
</section>

<script src="./DemoResource/jquery-1.7.2.min.js"></script>
<div id="content">
	@RenderBody()
</div>
</body>
</html>
