.links
{
    margin: 1em 0;
    color: #ccc;
}

    .links.breadcrumb
    {
        font-size: 24px;
        line-height: 1.1em;
        font-family: 'OpenSansLight','THSarabunNew',Arial,'Thonburi','Leelawadee','Microsoft Sans Serif',sans-serif;
    }

    .links > *
    {
        margin: 0 .5em;
        white-space: nowrap;
        color: #333;
        display: inline-block;
        position: relative;
    }

    .links.breadcrumb > i
    {
        color: #ccc;
        margin: 0 .25em;
    }

    .links > :first-child
    {
        margin-left: 0;
    }

    .links > :last-child
    {
        margin-right: 0;
    }

    .links > div > ul
    {
        position: absolute;
        top: 0;
        left: -.5em;
        display: none;
        list-style: none;
        padding: .25em .5em;
        margin: 1.4em 0 0 0;
        white-space: nowrap;
        background: #fff;
        background: rgba(255,255,255,.8);
        border-radius: 2px;
        z-index: 999;
    }

    .links .icon-caret-down
    {
        margin-left: .25em;
    }

    .links > div:hover > ul
    {
        display: block;
    }

    .links > div:hover .icon-caret-down
    {
        opacity: 1;
    }
