﻿body {
  padding-top: 50px;
}

.gap {
  padding: 15px 15px;
  text-align: center;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.floorplan-template {
  padding: 40px;
  text-align: center;
}

.profile-photo
{
	width: 168px;
	height: 168px;
	-webkit-border-radius: 84px;
	-moz-border-radius: 84px;
	border-radius: 84px;
	background-color: #363636;
}

.profile-picture img
{
    max-height: 32px;
    max-width: 32px;
    
}


.statistix-box {
  text-align: center;
  border-bottom: 1px solid #9b9b9b;
  background-color: #fdd846;
  padding-top: 10px;
}

.collaboration-user {
  text-align: left;
  border-bottom: 1px solid #9b9b9b;
  background-color: #CCCCCC;
  padding-top: 10px;
  padding-left: 10px;

}

.lightgray-box{
  text-align: left;
  border-bottom: 1px solid #9b9b9b;
  background-color: #EEEEEE;
  padding-top: 10px;
  padding-left: 10px;
}

.big-text{
	font-size: 85px;

	padding-right: 20px;
}

.medium-text{
	font-size: 20px;
}

.small-text{
	font-size: 18px;
}


.text-in-owner{


  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

.text-in-box {
  text-align: left;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

.text-in-list {
  text-align: left;
  padding-left: 2px;
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
}

.separator {
   position:absolute;
   min-height: 500px;
   border-left: 1px solid gray;
   float:right;

    left:50%;
    top:10%;
    bottom:10%;
    
}

.line-separator{

height:1px;

background:#717171;

border-bottom:1px solid #313030;

margin-top: 25px;
margin-bottom: 10px;

}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.cover {
    position:relative;
    overflow:hidden;
}

.wrapper{
	
	position:relative; /* important(so we can absolutely position the description div */
}
.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	font-family: 'tahoma';
	font-size:15px;
	color:white;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
h3.description_content{
	padding:10px;
	margin:0px auto;
}

.box{
	height: 300px;
	width: 900px;
	background-color: red;
	overflow: hidden;
	margin: 20px auto;
}

.issue-detail-box{
	height: 450px;
	width: 100%;
	background-color: red;
	overflow: hidden;
	margin: auto;
}

.issue-box{
	width: 100%;
	background-color: #FFF;
	overflow: hidden;
	margin: auto;
}

.floorplan-photo{
 position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: 0 auto; 
  width: 100%;
  height: 100%;
}

.floorplan-box{
	height: 200px;
	width: 200px;
	background-color: yellow;
	overflow: hidden;
	margin: 20px auto;
}

.ratio{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  width: 100%;
  
}

.issue-ratio{

  width: 100%;
  
}


.pin-default {
    background: url("../img/bookmark.png") no-repeat scroll 0 0 transparent;
    height: 100px; /* Added Height of image */
    width: 100px; /* Added Width of image */
    right: 50px; /* Added Left Position */ 
    position: absolute; /* Added Position */
    top: -20px; /* Added Top Position */        
    z-index: 2; /* Added Higher Z-Index Value from thumbnail div */
}

.pin-active {
    background: url("../img/bookmark_active.png") no-repeat scroll 0 0 transparent;
    height: 100px; /* Added Height of image */
    width: 100px; /* Added Width of image */
    right: 50px; /* Added Left Position */ 
    position: absolute; /* Added Position */
    top: -20px; /* Added Top Position */        
    z-index: 2; /* Added Higher Z-Index Value from thumbnail div */
}


.cover-photo {
	height: 250px;
	background: #595959;
}

.timeline-properties {
	float: right;
	background: #dddddd;
	padding-right: 10px;
	width: 100%;
}

.timeline-properties a {
	color: #000000;
	line-height: 40px;
	margin-left: 10px;
}

.timeline-header {
}

	.timeline-header .favorite_sign a {
		float: left;
		display: block;
		background: url(images/bookmark.png);
		width: 65px;
		height: 103px;
		text-decoration: none;
	}
	
	.timeline-header .favorite_sign-active a  {
		float: left;
		display: block;
		background: url(images/bookmark_active.png);
		width: 65px;
		height: 103px;
		text-decoration: none;
	}
	
	.timeline-header .project-description {
		float: left;
		height: 103px;
		margin-left: 20px;
	}
	
	.timeline-header .project-description a {
		color: #000;
	}
	
.timeline-item {
	max-width: 750px;
	position: relative;
	margin: auto;
}

	.timeline-item .new_issue {
		background: #cccccc;
		padding: 10px;
	}
	
		.timeline-item .new_issue .profile-picture {
			float: left;
			padding-right: 3px;
			background: #cccccc;
			height: 100%;
		}
	
		.timeline-item .new_issue .quote {
			float: left;
			width: 11px;
			min-height: 22px;
			background: #cccccc url(images/quote.png) 0px 3px no-repeat;
			height: 100%;
		}
		
		.timeline-item .new_issue .text-bg {
			background: #ffffff;
			height: 32px;
			width: 100%;
		}
		
		.timeline-item .new_issue .text {
			float: left;
			padding-left: 10px;
			line-height: 32px;
			cursor: pointer;
			width: 80%;
			color: #777777;
		}
		
		.timeline-item .new_issue #new_issue_input {
			float: left;
			padding-left: 10px;  
			line-height: 32px;
			cursor: pointer;
			width: 80%;
		}
		
	.timeline-item .issue {
		margin-top: 30px;
		padding-bottom: 20px;
		border-bottom: 50px solid #999999;
	}
	
		.timeline-item .issue .profile_picture {
			float: left;
		}

.profile_picture img {
    max-height: 64px;
    max-width: 64px;
}
			.timeline-item .issue .profile_picture img a {
				border: 0;
               
			}
		
		.timeline-item .issue .text {
			float: left;
			height: 64px;
			margin-left: 10px;
		}
		
			.timeline-item .issue .text h4 {
				margin-bottom: 2px;
				padding-bottom: 2px;
			}
		
			.timeline-item .issue .text a {
				color: #000;
			}
			
		.timeline-item .issue .issue_settings {
			width: 200px;
			float: right;
			text-align: right;	
		}
		
		.timeline-item .issue .issue_content {
			width: 100%;
			float: left; 
			padding: 10px 10px 10px 10px;
		}
		
			.timeline-item .issue .issue_content .header {
				background: #fdd846;
				width: 100%;
				padding: 5px;
			}
			
				.timeline-item .issue .issue_content .header a {
					color: #000;
				}
				
				.timeline-item .issue .issue_content .header a:hover {
					text-decoration: none;
					color: #555555;
				}

          .timeline-item .issue .issue_photo {
			max-height: 350px;
			overflow: hidden;
		}
		
		.timeline-item .issue .issue_photo img {
			margin-top: -25%;
		}

/* Widget used for Project Setting */

.widget{
	background:#fff;
	margin-bottom:30px;
}

.widget .widget-head{
	padding:13px 15px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.widget .widget-head h3{
	font-size:18px;
	line-height:20px;
	color:#000;
	font-weight:bold;
}

.widget .widget-head h3 i{
	margin-right:3px;
	font-size:15px;
}

.widget .widget-head .btn{
	border:0px !important;
}

.widget .widget-head ul{
	margin:0px;
	padding:0px;
}

.widget .widget-head ul li{
	display:inline;
	list-style-type:none;
}

.widget .widget-body{
	padding:15px;
	border: 1px solid #d5d5d5;
	border-top:0px;
}

.widget .widget-body.no-padd{
	padding:0px !important;
}

.widget .widget-body hr{
	margin:15px 0px;
	border:0px;
	border-top:1px solid #eee;
}

.widget .widget-foot{
	background:#f8f8f8;
	border: 1px solid #d5d5d5;
	border-top:0px;
	padding:10px 15px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

.widget .widget-foot span{
	font-size:11px !important;
}

.widget .widget-foot .pagination{
	margin:0px !important;
}

/* Bar Color */
.br-green {
  background-color: #E5E4E2;
}

/* Widget general */

.widget form *{
	font-size:13px;
}

.widget .table *{
	border-color:#e8e8e8 !important;
}

.widget .table.table-bordered{
	margin-bottom:0px;
	border:0px;
}

.widget .table.table-bordered tr th{
	border-top:0px;
	border-left:0px;
}

.widget .table.table-bordered tr th:last-child{
	border-right:0px;
}

.widget .table.table-bordered tr:first-child td{
	border-top:0px;
}

.widget .table.table-bordered tr:last-child td{
	border-bottom:0px;
}

.widget .table.table-bordered td{
	border-right:1px solid #e8e8e8;
}

.widget .table.table-bordered tr td:first-child{
	border-left:0px;
}

.widget .table.table-bordered td:last-child{
	border-right:0px;
}
/* Project widget */

.projects-widget ul{
	margin-bottom:0px !important;
	padding-bottom:0px !important;
}

.projects-widget li{
	padding:12px 15px;
    border-bottom: 1px solid #eee;
}

.projects-widget li:last-child{
	border-bottom: 0px;
}

.projects-widget li:hover{
	background: #fbfbfb;
}

.projects-widget p{
	margin: 0px !important;
	padding: 0px !important;
	line-height:18px;
}

.projects-widget p strong{
	position:relative;
	top:-3px;
	color:#888;
	margin-left:5px;
}

.projects-widget .p-meta{
	font-size: 11px;
	font-weight: normal;
	margin:0px;
	padding:0px;
	color:#aaa;
	margin-left: 20px !important;
	margin-bottom: 5px !important;
}

.projects-widget .progress{
	margin:3px 0px !important;
	padding: 0px !important;
	margin-left: 20px !important;
}

.p-description{
font-size: 11px;
color:#000;
}

/* END Widget used for Project Setting */

/*Bomb designed this project create content*/
.create-project-headerColor
{
	margin-top:10px; 
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	width:57%;
	background-color: #D8D8D8;
}

.cancel-btn-style
{
	margin-left:10px;
}

*{
    margin:0;
    padding:0;
}

/* Notification */

#noti_Container {
    position:relative;     /* This is crucial for the absolutely positioned element */
   
    width:35px;
    height:32px;
}
.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -6px;
    right:-6px;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.85em;

    
    
    
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

/* End Notification */

