﻿@model List<BuikSiteWalkModel1.ModelEntities.ProjectDetailMobile>

@{
    ViewBag.Title = "Index";
}
<div>@Html.ActionLink("Creat New Project","Create")</div>
@foreach (var p in Model)
{
    @Html.Partial("_ProjectPartial", p)
}
