﻿@model List<BuikSiteWalkModel1.ModelEntities.BuikIssueComment>

@{
    ViewBag.Title = "IssueDetail";
}

<h2>IssueDetail</h2>
@foreach (var tt in Model)
{ 
    <div class= "item">
        
        <div>@tt.CUPhoto</div><img  width="100" height="100" src = "@tt.CUPhoto" /><div>@tt.CUserName</div>
        <div><h4>@tt.CommentD</h4> 
        <dib>@tt.CDatetime</dib>
            
        
        
    </div>
    
}