﻿@model DemoBuikAlp1.Models.ProjectIssueModel

@{
    ViewBag.Title = "ProjectDetail";
}

<h2>ProjectDetail</h2>
<h3>@Model.prdetail.ProjectName</h3>
<img width="300" height="300" src="@Model.prdetail.ProjectCoverPhoto" />

<h3>Customer    : @Model.prdetail.CustomerName</h3>
<h3>IsFav       : @Model.prdetail.isFav</h3>
<h3>Start Date  : @Model.prdetail.StartDate</h3>
<h3>Finish Date : @Model.prdetail.FinishDate</h3>
<h3>Day Remain  : @Model.prdetail.DayRemain</h3>
<h2>@Model.prdetail.UserJoin People in this Collaboration</h2>
<h2>@Html.ActionLink("AddProjectFloorPlan","SiteWalk",new{prid = @Model.prdetail.prid})</h2>


<h2>@Html.ActionLink("CreateProjectissue","SiteWalk",new {prid=@Model.prdetail.prid})</h2>
@foreach (var tt in Model.IssueList)
{ 
    <div class= "item">
         <div><h4>@tt.IssueCreatorName</h4> <img  width="100" height="100" src = "@tt.IssueCreatorPhoto" /></div>
         <h4>Detail @Html.ActionLink(@tt.IssueDetail, "Timeline", "SiteWalk",new {issueid = tt.IssueId })</h4>
         <h4>Issue Type @tt.IsTypeName</h4>
        <h4>Create on @tt.IssueDateTimeCreate</h4>
        
        <h4>Comment count @tt.IssueComment</h4> <h4>Like @tt.IssueLike</h4> 
        <img width="100" height="100" src="@tt.IssueFile" />
        <img width="100" height="100" src="@tt.IssueFloorPlanPhoto" />     
        
        <h4>Project id : @tt.ProjectSurrKey</h4>
    </div>
    
}
