input.button, a.button, a.button:link, a.button:visited
{
    padding: .5em 1em;
    background: #693;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
}

input.button
{
    border: none;
    font-family: inherit;
    font-size: inherit;
}

    input.button:hover, a.button:hover, a.button:active
    {
        background: #000;
    }

    input.button.small, a.button.small
    {
        padding: .25em .5em;
    }

    input.button.large, a.button.large
    {
        padding: 1em;
    }
